<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
        <img class="tasks-img img-fluid" src="../../../../assets/ProjectAassets/Accept tasks-bro.png" alt="">
      </div>
      <div class="col-lg-4 mt-3">
        <div class="card shadow rounded">
          <img src="../../../../assets/ProjectAassets/Remote meeting-amico.png" alt="" class="img-fluid">
          <div class="card-body text-center">
            <a [routerLink]="['/projects/backlogdetails', backlogId]" routerLinkActive="router-link-active" class="btn btn-primary">Join meeting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  
  <h2 class="text-center mt-3 mb-3">Backlog Sprints</h2>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let sprint of pagedSprints">
        <div class="card mb-3 rounded shadow">
          <div class="card-body">
            <h5 class="card-title text-center">{{ getSprintById(sprint).title }}</h5>
     
            <p class="card-text"><i class="fa-solid fa-people-group"></i> Members: {{ getSprintById(sprint).membersId.length }}</p>
            <p class="card-text"><i class="fa-solid fa-list-check"></i> Tasks: {{ getSprintById(sprint).tasksId.length }}</p>
            <p class="card-text"><i class="fa-solid fa-check"></i> Done Tasks: {{ getDoneTasksCount(getSprintById(sprint)) }}</p>
            <p class="card-text"><i class="fa-solid fa-hourglass-start"></i>  Start Time: {{ getSprintById(sprint).startTime | date }}</p>
            <p class="card-text"><i class="fa-solid fa-hourglass-end"></i> End Time: {{ getSprintById(sprint).endTime | date }}</p>
            <div class="text-center">  
                <a [routerLink]="['/projects/alltasks', getSprintById(sprint).id]">
                    <button class="btn btn-primary">Check Tasks</button>
                  </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="pagination">
    <ul class="pagination-list">
      <li class="pagination-item" *ngFor="let page of pages" [class.active]="page === currentPage">
        <button class="pagination-link" (click)="changePage(page)">{{ page }}</button>
      </li>
    </ul>
  </div>
  