.details {
  color: #0d534a;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.details h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}
.details h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.card-header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}