.details {
  color: #0d534a;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.details h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}
.details h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
}
.card-body {
  text-align: center;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
}
.user-photo {
  width: 70px; 
  height: 70px;
  object-fit: cover;
}
h2 {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #0d534a;
}