<div class="content">
  <h1 class="title d-flex justify-content-center mt-2">Teams Management</h1>
  <a [routerLink]="['/scrums/create-team']" routerLinkActive="router-link-active" >
      <button type="button" class="btn btn-light mb-3">Create new team <i class="bi bi-plus"></i> </button>
  </a>
  <div class="card-container d-flex justify-content-around flex-wrap">
      <div class="card" *ngFor="let team of teams">
          <div class="card-body">
              <h5 class="card-title">{{ team.team_name }}</h5>
              <!-- Call getScrumMasterDetails() for each team -->
              <ng-container *ngIf="team.users && team.users.length">
                  <div *ngFor="let user of team.users">
                      <div *ngIf="user.pivot?.is_scrum_master === 1">
                          <!-- Display scrum master information -->
                          <div class="scrum-master">
                              <img [src]="user.photo" alt="Scrum Master" class="scrum-master-photo">
                              <p class="mt-1a" style="color: #1DA291;">Team Scrum Master</p>
                              <p class="scrum-master-name">{{ user.name }}</p>
                          </div>
                      </div>
                  </div>
              </ng-container>
              <p class="card-text">Number of Users: {{ team.users.length }}</p>
              <a [routerLink]="['/scrums/update',team.id]" routerLinkActive="router-link-active">
                  <button type="button" class="btn btn-light btn-view-more m-2 ">update</button>
              </a>
              <button type="button" class="btn btn-dark btn-view-more m-2"
                      (click)="openDeleteProjectComponent(team.id)">
                  <i class="bi bi-x-lg"></i> Delete
              </button>
          </div>
      </div>
  </div>
</div>
