.container-fluid {
  .chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px; 
    height: 70vh;
  }
  li {
    cursor: pointer;
    
  }
  li:hover {
    background-color: #daf8cb;
  }
  .users {
  height: 75vh;
  overflow: auto;
}
.no-messages {
  margin-top: 200px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #ccc;
}

.no-messages i {
  margin-bottom: 70px;
  color: #ccc;
}
  .message {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    word-wrap: break-word;
  }

  .sender-message {
    align-self: flex-end;
    background-color: #daf8cb;
    text-align: right;
  }

  .receiver-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    text-align: left;
  }

  .message-content {
    margin-bottom: 5px;
  }

  .message-time {
    font-size: 0.8em;
    color: gray;
  }
}
