img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1DA291;
    font-size: 2rem;
    margin-bottom: 15px;
}

.sign {
    color: white;
}