<div class="content">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand">
          <img class="logo" src="../../../../assets/logo.jpg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="!isNavbarCollapsed" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="{'collapse': isNavbarCollapsed}" class="navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mt-2">
              <a class="nav-link">
                <i class="bi bi-envelope"></i>
              </a>
            </li>
            <li class="nav-item dropdown" (click)="toggleDropdown()" [ngClass]="{'show': isDropdownOpen}">
              <a class="nav-link" id="navbarDropdown" role="button" aria-haspopup="true" [attr.aria-expanded]="isDropdownOpen">
                <img id="userPhoto" [src]="userPhoto" alt="User Photo">
              </a>
              <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                  <i class="bi bi-person"></i> Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-gear"></i> Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-box-arrow-right"></i> Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <router-outlet />




  </div>
