<div class="text-center">
  <h1>Welcome {{user.name}} {{user.lastname}}</h1>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div class="card text-center">
        <img src="../../../../assets/Voice chat-rafiki.png" class="card-img-top" alt="Contact Owner Photo">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Contact Product Owner</h5>
          <p class="card-text">Contact the product owner of Aliret Service</p>
          <a [routerLink]="['/client/chat', user?.id]" class="btn btn-primary"><i class="bi bi-chat-dots"></i> Contact</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div class="card text-center">
        <img src="../../../../assets/Business deal-bro.png" class="card-img-top" alt="Check Contracts Photo">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Check My Contracts</h5>
          <p class="card-text" style="font-size: 15px;">Check contracts I have with Aliret Service</p>
          <a [routerLink]="['/client/contracts', user?.id]" class="btn btn-primary" (click)="logNavigation()">
            <i class="bi bi-check-circle"></i> Check Contracts
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 d-flex justify-content-center">
      <div class="card text-center">
        <img src="../../../../assets/Profile data-amico.png" class="card-img-top" alt="Profile Photo">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">Check my account on Aliret Service</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-person"></i> View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
