.table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
 .title {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 14px;
      color: #1DA291;
  }
  .btn-sm-custom {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  
