<div class="container">
    <div class="loading-overlay" *ngIf="loading">
      <div class="spinner"></div>
    </div>
    <h2 class="mb-4">Change Password</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <form (ngSubmit)="updatePassword()">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password:</label>
        <div class="input-group">
          <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
          <span class="input-group-text">
            <i class="bi bi-lock"></i>
          </span>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password:</label>
        <div class="input-group">
          <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
          <span class="input-group-text">
            <i class="bi bi-lock"></i>
          </span>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary m-1 align-items-center">Update Password</button>
        <button type="button" class="btn btn-secondary m-1 align-items-center" (click)="closeDialog()">Cancel</button>
      </div>
    </form>
  </div>
  