.image {
 height: 350px;
 width: 350px;   
}
.title {
    color: #1DA291;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.scr {
    margin-left: 2px;
    color: #1DA291;
   
   
}