<div class="container" *ngIf="team">
    <div class="row">
        <div class="col-md-6">
            <!-- Team Name -->
            <h2 class="title text-center mb-4">{{ team.team_name }}</h2>
            
            <div class="card mb-4" *ngIf="scrumMaster">
                <div class="card-body text-center">
                    <div class="mb-3">
                        <img class="rounded-circle" src="{{ scrumMaster.photo }}" alt="{{ scrumMaster.name }} photo" width="100" height="100">
                    </div>
                    <div>
                        <p class="m-0">{{ scrumMaster.name }}</p>
                        <h4 class="scr">Scrum Master of the Team</h4>
                    </div>
                </div>
            </div>
            <div *ngIf="!scrumMaster">
                <p class="text-muted">No Scrum Master assigned.</p>
            </div>
            
            <!-- Team Members -->
            <div class="row">
                <div *ngFor="let member of team.users" class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="mb-3">
                                <img class="rounded-circle" src="{{ member.photo }}" alt="{{ member.name }} photo" width="100" height="100">
                            </div>
                            <div>
                                <p class="m-0">{{ member.name }} {{ member.lastName }}</p>
                                <button class="btn btn-sm btn-danger mt-2" (click)="openDeleteMemberComponent(team.id,member.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Placeholder Image -->
            <img class="img-fluid rounded" src="../../../../assets/Team page-amico.png" alt="Team Illustration">
        </div>
    </div>
</div>
