
<div class="content">
    <h3>Aliret</h3>

    <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome</h5>
          <p class="card-text">Thanks for joining our platform. We want you to confirm your email then we will wait for the product owner to confirm your account</p>
          <a href="https://www.gmail.com" class="btn btn-success">Confirm Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
   