// @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.content{
    background-color: #f0f2f1;
    background-image: linear-gradient(to top, rgba(240, 242, 241, 0), rgba(240, 242, 241, 1));
    margin: 0;
    padding: 0;
}
.custom-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 18rem;
}

.card-title {
    font-weight: bold;
}
 i{
    font-size: 25px;
}

  .avatar-container {
    display: flex;
    gap: 5px; /* Adjust the gap between avatars as needed */
}

.avatar-img {
    width: 20px; /* Adjust the width of the avatars as needed */
    height: 20px; /* Adjust the height of the avatars as needed */
}
