<div class="content">
    <app-signupnavbar></app-signupnavbar>
    <div class="loading-overlay" *ngIf="loading">
        <div class="spinner"></div>
      </div>
      
    <div class="text-center mt-3">
        <div class="d-flex justify-content-center m-4 p-5">
            <div class="col-xl-12">
                <div class="row gap-5">
                    <div class="col-lg-6 d-none d-lg-block">
                        <img class="loginImage" src="../../assets/signUp employe/Work anniversary-amico.png" alt="">
                    </div>
                    <div class="col-lg-3 text-center mb-3">
                    
                        <div class="card shadow ">
                            <img src="../../assets/logo.jpg" class="card-img-top" alt="logo" *ngIf="!showAlert"> 
                            <div class="card-body">
                                <h2 class="card-title" *ngIf="!showAlert">Sign up</h2>
                                <form>
                                    <div class="alert alert-danger" role="alert" *ngIf="showAlert">
                                        {{ alertMessage }}
                                      </div>
                                    <div class="row">
                                        <div class="col pl-3">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <input type="email" class="form-control" id="lastName"  placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" id="exampleInputPassword1" aria-describedby="Password" placeholder="Password">
                                            <button class="btn btn-outline-secondary" type="button" (click)="passwordVisible = !passwordVisible" style="cursor: pointer;">
                                                <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
                                            </button>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                                            <input [type]="passwordVisible2 ? 'text' : 'password'" class="form-control" id="exampleInputPassword2" aria-describedby="Password" placeholder="Confirm Password">
                                            <button class="btn btn-outline-secondary" type="button" (click)="passwordVisible2 = !passwordVisible2" style="cursor: pointer;">
                                                <i class="bi" [ngClass]="passwordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
                                            </button>
                                        </div>
                                    
                                         <div class="mb-2">
                                            <label class="form-label d-flex left">Gender:</label>
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="male" value="man">
                                                        <label class="form-check-label ms-2" for="male">Man</label>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="female" value="woman">
                                                        <label class="form-check-label ms-2" for="female">Woman</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <div class="mb-3 d-flex align-items-center">
                                            <input type="file" class="form-control me-2" id="fichier">
                                            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modal_btn">Add your skills</button>
                                        </div>

                                        <div class="mb-2 form-check small-text">
                                            <input type="checkbox" class="form-check-input" id="agreeCheckbox" id="agreeCheckbox">
                                            <label class="form-check-label" for="agreeCheckbox">Yes, I understand and agree to the Aliret Terms of Service, including the User Agreement and Privacy Policy.</label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-success ms-2"  (click)="submitForm()" id="login_btn">Create my account</button>
                                    <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalTriggerButton"></button>
                                    <!-- Modal -->
                                    <div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">please add your skills</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Pagination controls -->
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item"><a class="page-link" (click)="prevPage()">Previous</a></li>
                                                            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                                                                <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                                                            </li>
                                                            <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
                                                        </ul>
                                                    </nav>
                                    
                                                    <div *ngIf="currentPage === 1">
                                                        <h4 class="d-flex justify-content-center">Back End</h4>
                                    
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="laravelCheckbox" [checked]="isChecked(0)" (change)="toggleCheckbox(0)">
                                                                    <label class="form-check-label" for="laravelCheckbox">Laravel</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="springbootCheckbox" [checked]="isChecked(1)" (change)="toggleCheckbox(1)">
                                                                    <label class="form-check-label" for="springbootCheckbox">Spring Boot</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="symphonyCheckbox" [checked]="isChecked(2)" (change)="toggleCheckbox(2)">
                                                                    <label class="form-check-label" for="symphonyCheckbox">Symphony</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="nodejsCheckbox" [checked]="isChecked(3)" (change)="toggleCheckbox(3)">
                                                                    <label class="form-check-label" for="nodejsCheckbox">Node.js</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div *ngIf="currentPage === 2">
                                                        <h4 class="d-flex justify-content-center">Front End</h4>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="angularCheckbox" [checked]="isChecked(4)" (change)="toggleCheckbox(4)">
                                                                    <label class="form-check-label" for="angularCheckbox">Angular</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="reactCheckbox" [checked]="isChecked(5)" (change)="toggleCheckbox(5)">
                                                                    <label class="form-check-label" for="reactCheckbox">React</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="vuejsCheckbox" [checked]="isChecked(6)" (change)="toggleCheckbox(6)">
                                                                    <label class="form-check-label" for="vuejsCheckbox">Vue.js</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="Svelte" [checked]="isChecked(7)" (change)="toggleCheckbox(7)">
                                                                    <label class="form-check-label" for="Svelte">Svelte</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    
                                                    <div *ngIf="currentPage === 3">
                                                        <h4 class="d-flex justify-content-center">Design</h4>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="figmaCheckbox" [checked]="isChecked(8)" (change)="toggleCheckbox(8)">
                                                                    <label class="form-check-label" for="figmaCheckbox">Figma</label>
                                                                </div>
                                                            </div>
                                    
                                                            <div class="col-md-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="SketchCheckbox" [checked]="isChecked(9)" (change)="toggleCheckbox(9)">
                                                                    <label class="form-check-label" for="SketchCheckbox">Sketch</label>
                                                                </div>
                                                            </div>
                                    
                                                            <div class="col-md-4">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" id="adobeXDCheckbox" [checked]="isChecked(10)" (change)="toggleCheckbox(10)">
                                                                    <label class="form-check-label" for="adobeXDCheckbox">Adobe XD</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveSkills()">Save skills</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </form>
                                <a routerLink="/login">Already have an account ?<span>Log In</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



