.content{
    background-color: #f0f2f1;
    background-image: linear-gradient(to top, rgba(240, 242, 241, 0), rgba(240, 242, 241, 1));
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.loginImage {
    height: 30rem;
    width: 30rem;
    margin-right: 3rem;
    margin-top: 1rem;
}
.card {
    border-radius: 20px;
    width: 30rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-img-top {
    width: 50px; 
    height: 50; 
    border-radius: 50%; 
    overflow: hidden;  
    margin: auto; 
    display: block; 
    margin-top: 1rem;
  
}
.card-title {
    color: #43CCB3;
}
.btn-primary {
    width: 100%;
}
.card-body {
    text-align: center;
}
#login_btn{
    background-color: #1DA291;
    color: #FFFFFF;
    border-color: #1DA291;
   /* width: 50%; */
}
#login_btn:hover {
    background-color: #FFFFFF;
    color: #1DA291;
    border-color: #1DA291;
}
#modal_btn {
    background-color: #1DA291;
    border-color: #1DA291;
    color: #FFFFFF;
    /* width: 50%; */
}
p{
    color: #005F60;
    margin-top: 1rem;
}

.small-text label {
    font-size: 0.78rem;
    text-align: left; 
}
a {
    text-decoration: none;
    color: black;
    margin-top: 10px !important; 
}
span {
    color: #1DA291;
}

@media screen and (max-width: 720px) {
    .card {
        width: 20rem;
        
    }
}