.container {
    margin-top: 20px;
  }
  
  .task-card {
    border-radius: 15px;
  }
  
  .mat-elevation-z8 {
    margin: 20px 0;
  }
  
  .done {
    color: green;
  }
  
  .undone {
    color: red;
  }
  