<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Tasks for Sprint {{ sprintId }}</h3>
    </div>
    <div class="card-body">
      <button class="btn btn-primary btn-sm mb-3 add"  (click)="openCreateTask()">
       
        <i class="bi bi-plus"></i> Create Task
      </button>
      <div *ngIf="tasks.length > 0">
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Assigned User</th>
              <th scope="col">Scrum Master Actions</th>
            </tr>
          </thead>
          <div class="loading-overlay" *ngIf="loading">
            <div class="spinner"></div>
          </div>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.description }}</td>
              <td>
                <i class="bi" [ngClass]="{'bi-check-circle-fill text-success': task.status === 'done', 'bi-x-circle-fill text-danger': task.status === 'undone'}"
                  (click)="changeTaskStatus(task.id)"
                  [ngStyle]="{ 'font-size': '24px', 'cursor': 'pointer' }"
                  >
                </i>
              </td>
              <td>{{ task.assigned_user_id }}</td>
              <td>
                <button class="btn btn-dark btn-sm m-1" [disabled]="emplId !== scrum_master_id">
                  <i class="bi bi-pencil"></i> Update Task
                </button>
                <button class="btn btn-light btn-sm m-1" [disabled]="emplId !== scrum_master_id">
                  <i class="bi bi-person-plus"></i> Assign Task
                </button>
                <button class="btn btn-dark btn-sm m-1" [disabled]="emplId !== scrum_master_id" (click)="openDeleteTask(task.id)">
                  <i class="bi bi-trash"></i> Delete Task
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="tasks.length === 0">
        <div class="alert alert-dark" role="alert">
          <i class="bi bi-info-circle-fill"></i> No tasks available for this sprint.
        </div>
      </div>
    </div>
  </div>
</div>
