<div class="container text-center">
    <div class="row">
        <div class="loading-overlay" *ngIf="loading">
            <div class="spinner"></div>
        </div>

        <!-- First Column: Form -->
        <div class="col-md-6">
            <form #teamForm="ngForm"> 
                <div *ngIf="showSuccessAlert" class="alert alert-success" role="alert">
                    Team created successfully!
                </div>
                <h1 class="title">Create a new Team</h1>
                <h2>Team Name</h2>
                <input type="text" class="form-control mb-3" placeholder="Enter team name" name="teamName" [(ngModel)]="teamName">
                <h2>Choose Scrum Master</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for Scrum Master">
                    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                </div>
                <div class="user-container">
                    <ng-container *ngFor="let user of users; let i = index">
                        <div class="form-check user-item" [style.display]="'inline-block'">
                            <input class="form-check-input" type="radio" name="scrumMaster" [id]="'scrumMaster_' + user.id" 
                                   (change)="selectedScrumMasterId = user.id">
                            <label class="form-check-label" [for]="'scrumMaster_' + user.id">
                                <img [src]="user.photo" class="rounded-circle" width="30" height="30" alt="User Photo"> {{ user.name }}
                            </label>
                        </div>
                    </ng-container>
                </div>
                <h2>Choose Team Members</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for team members" [(ngModel)]="searchQuery" (input)="filterUsers()" name="searchQuery">
                    <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                </div>
                <div class="user-container">
                
                    <ng-container *ngFor="let user of filteredUsers; let i = index">
                        <div class="form-check user-item" [style.display]="'inline-block'">
                            <input class="form-check-input" type="checkbox" [id]="'teamMember_' + user.id"
                            (change)="toggleTeamMemberSelection(user.id, $event)">
                            <label class="form-check-label" [for]="'teamMember_' + user.id">
                                <img [src]="user.photo" class="rounded-circle" width="30" height="30" alt="User Photo"> {{ user.name }}
                            </label>
                        </div>
                    </ng-container>
                </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="createTeam()">Create Team</button>
            </form>
        </div>

        <!-- Second Column: Image -->
        <div class="col-md-6 mt-3 mt-md-0">
            <img src="../../../../assets/Team work-amico.png" class="img-fluid" alt="Teamwork">
        </div>
    </div>
</div>
